# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/run-data/logs/2025-03-16-2.log.gz
/run-data/logs/2025-03-17-2.log.gz
/run-data/logs/2025-03-17-3.log.gz
/run-data/logs/2025-03-17-4.log.gz
/run-data/logs/2025-03-17-5.log.gz
/run-data/logs/2025-03-17-6.log.gz
/run-data/logs/2025-03-17-7.log.gz
/run-data/logs/2025-03-17-8.log.gz
/run-data/logs/2025-03-17-9.log.gz
/run-data/logs/2025-03-17-10.log.gz
/run-data/logs/2025-03-17-11.log.gz
/run-data/.mixin.out/class/net/minecraft/world/entity/ai/attributes/Attributes.class
/run-data/logs/debug.log
/run-data/logs/debug-1.log.gz
/run-data/logs/debug-2.log.gz
/run-data/logs/debug-3.log.gz
/run-data/logs/debug-4.log.gz
/run-data/logs/debug-5.log.gz
/src/generated/resources/.cache/f7a5848ef36663c31e497ab9c2542cab6060a2e2
/run-data/config/fml.toml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/run-data/logs/latest.log
/run-data/.mixin.out/class/net/minecraft/world/entity/player/Player.class
